/* Título */
.titulo {
    color: #2c3e50;
    font-weight: bold;
  }
  
  /* Tarjetas de libros */
  .libro-card {
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .libro-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card-title {
    color: #34495e;
    font-size: 1.25rem;
  }
  
  .card-text {
    color: #7f8c8d;
    font-size: 1rem;
  }
  
  /* Botones */
  .btn {
    font-size: 0.9rem;
    font-weight: bold;
    padding: 8px 12px;
  }
  
  .btn-primary {
    background-color: #db9b34;
    border-color: #db9b34;
  }
  
  .btn-primary:hover {
    background-color: #2980b9;
    border-color: #2980b9;
  }
  
  .btn-success {
    background-color: #27ae60;
    border-color: #27ae60;
  }
  
  .btn-success:hover {
    background-color: #229954;
    border-color: #229954;
  }
  
  .btn-secondary {
    background-color: #a69a95;
    border-color: #a69a95;
  }
  
  .btn-secondary:hover {
    background-color: #7f8c8d;
    border-color: #7f8c8d;
  }
  