<div class="login-form">
    <h2>Iniciar Sesión</h2>
    <form (ngSubmit)="login()">
      <input type="email" [(ngModel)]="email" name="email" placeholder="Correo" required />
      <input type="password" [(ngModel)]="password" name="password" placeholder="Contraseña" required />
      <button type="submit">Entrar</button>
      <button class="btn btn-outline-primary btn-block" (click)="register()"><i
        class="fas fa-arrow-alt-circle-left"></i>No Tienes Una Cuenta? Registrate Aqui!!</button>
    </form>
  </div>