<body>
    <div class="container">
      <!-- Sidebar -->
      <div class="sidebar" [class.open]="isMenuVisible">
        <!-- Logo en la parte superior del menú -->
        <div class="sidebar-logo">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFZqEf_cYwW2SNptH31gvAcJsxEKs5LaKGGw&s" alt="Logo" class="logo-img">
        </div>
        <ul>
          <li><a href="/home" class="sidebar-item"><i class="fa fa-home"></i> Inicio</a></li>
          <li><a href="/libros-disponibles" class="sidebar-item"><i class="fa fa-info-circle"></i>Biblioteca</a></li>
          <li><a href="/libros-prestados" class="sidebar-item"><i class="fa fa-cogs"></i>Libros Prestados</a></li>
          <li><a href="/usuarios" class="sidebar-item"><i class="fa fa-envelope"></i>Usuarios</a></li>
          <li><a href="/libros" class="sidebar-item"><i class="fa fa-envelope"></i>Libros</a></li>
        </ul>
      </div>
      <div class="content">
        <!-- Navbar con ícono de menú draw -->
        <nav class="navbar">
          <button class="menu-button" (click)="toggleMenu()">
            <i class="fa fa-bars"></i> <!-- Ícono de menú hamburguesa -->
          </button>
          <a class="navbar-brand">YAVI BIBLIOTECA</a>
        </nav>
  
        <!-- Formulario -->
        <div class="form-container mt-4">
          <h2>Agregar Libro</h2>
          <form (ngSubmit)="agregarLibro()">
            <div class="form-group">
              <label for="titulo">Título:</label>
              <input type="text" id="titulo" class="form-control" [(ngModel)]="nuevoLibro.titulo" name="titulo" required>
            </div>
            <div class="form-group">
              <label for="autor">Autor:</label>
              <input type="text" id="autor" class="form-control" [(ngModel)]="nuevoLibro.autor" name="autor" required>
            </div>
            <div class="form-group">
              <label for="descripcion">Descripción:</label>
              <textarea id="descripcion" class="form-control" [(ngModel)]="nuevoLibro.descripcion" name="descripcion" rows="3" required></textarea>
            </div>
            <div class="form-group">
              <label for="image">URL de Imagen:</label>
              <input type="url" id="image" class="form-control" [(ngModel)]="nuevoLibro.image" name="image">
            </div>
            <button type="submit" class="btn btn-success">Agregar</button>
          </form>
        </div>
  
        <div class="container mt-4">
          <!-- Mensaje informativo -->
          <div *ngIf="mensaje" class="alert alert-info">{{ mensaje }}</div>
          <!-- Grid de libros disponibles -->
          <div class="row">
            <div *ngFor="let libro of librosDisponibles" class="col-md-4 mb-4">
              <div class="card h-100 shadow-sm libro-card">
                <div class="card-body">
                  <img [src]="libro.image" width="150" height="180" alt="Img" class="card-img">
                  <h5 class="card-title">{{ libro.titulo }}</h5>
                  <p class="card-text">Autor: {{ libro.autor }}</p>
                  <p class="card-text2">Descripcion:</p>
                  <p class="card-text"> {{ libro.descripcion }}</p>
                  <button class="btn btn-primary" (click)="prestarLibro(libro.id)">Prestar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  