<div class="persona-form-container">
    <h2>Agregar Nueva Persona</h2>
    <form [formGroup]="personaForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">Nombre</label>
        <input id="firstName" formControlName="firstName" type="text" class="form-control" placeholder="Nombre de la persona" />
        <div *ngIf="personaForm.get('firstName')?.invalid && personaForm.get('firstName')?.touched" class="error">
          El nombre es obligatorio.
        </div>
      </div>
  
      <div class="form-group">
        <label for="lastName">Apellido</label>
        <input id="lastName" formControlName="lastName" type="text" class="form-control" placeholder="Apellido de la persona" />
        <div *ngIf="personaForm.get('lastName')?.invalid && personaForm.get('lastName')?.touched" class="error">
          El apellido es obligatorio.
        </div>
      </div>
  
      <div class="form-group">
        <label for="email">Correo Electrónico</label>
        <input id="email" formControlName="email" type="email" class="form-control" placeholder="Correo electrónico" />
        <div *ngIf="personaForm.get('email')?.invalid && personaForm.get('email')?.touched" class="error">
          El correo electrónico es obligatorio y debe ser válido.
        </div>
      </div>
  
      <div class="form-group">
        <label for="phone">Teléfono</label>
        <input id="phone" formControlName="phone" type="text" class="form-control" placeholder="Teléfono de la persona" />
        <div *ngIf="personaForm.get('phone')?.invalid && personaForm.get('phone')?.touched" class="error">
          El teléfono es obligatorio.
        </div>
      </div>
  
      <button type="submit" [disabled]="personaForm.invalid" class="btn btn-primary">Agregar Persona</button>
    </form>
  </div>
  